<launch>
    <arg name="resolution" default="800"/>
    <arg name="exposure_mode" default="calibration"/>

    <node pkg="oak_ros" type="oak_ros" name="oak_ros" output="screen" respawn="false">
        <param name="resolution" value="$(arg resolution)"/>
        <param name="poe_mode" value="false"/>
        <param name="only_usb2_mode" value="false"/>
        <param name="mesh_dir" type ="string" value=""/> 
        <param name="rectified" value="false"/> 
        <param name="exposure_mode" type = "string" value="$(arg exposure_mode)"/>
        <param name="imu" value="false"/> 
        <param name="rgb" value="true"/>
        <param name="left" value="true"/>
        <param name="right" value="false"/> 
        <param name="camd" value="false"/>
        <param name="hardware_sync" value="true"/> 
        <param name="debug_opencv_image" value="true"/> 
    </node>
</launch>
