<launch>
    <arg name="_uav_id" value="$(env UAV_GROUPNAME)" />
    <arg name="vehicle" default="$(arg _uav_id)"/>
    <arg name="resolution" default="400"/>
    <arg name="exposure_mode" default="auto"/>
    <arg name="shutter_speed_us" default="1400"/>
    <arg name="iso" default="200"/>
    <arg name="exposure_compensation" default="-1"/>
    <arg name="ir_laser_dot" default="0"/>
    <arg name="ir_floodlight" default="0"/>
    <arg name="debug_opencv_image" default="true"/>

    <node ns="$(arg vehicle)" pkg="oak_ros" type="oak_ros" name="oak_ros" output="screen" respawn="false">
        <param name="tf_prefix" type = "string" value="$(arg vehicle)/"/>
        <param name="resolution" value="$(arg resolution)"/>
        <param name="enable_stereo_half_resolution_output" value="true"/>
        <param name="frequency" value="25"/>
        <param name="rates_workaround" value="false"/>
        <param name="poe_mode" value="false"/>
        <param name="only_usb2_mode" value="true"/>
        <param name="use_mesh" value="true"/> 
        <param name="mesh_alpha" value="0.6"/> 
        <param name="exposure_mode" type = "string" value="$(arg exposure_mode)"/>
        <param name="shutter_speed_us" value="$(arg shutter_speed_us)"/>
        <param name="iso" value="$(arg iso)"/>
        <param name="exposure_compensation" value="$(arg exposure_compensation)"/>
        <param name="rectified" value="true"/> 
        <param name="ir_laser_dot" value="$(arg ir_laser_dot)"/>
        <param name="ir_floodlight" value="$(arg ir_floodlight)"/>
        <param name="imu" value="true"/> 
        <param name="rgb" value="true"/>
        <param name="left" value="true"/>
        <param name="right" value="false"/> 
        <param name="camd" value="false"/>
        <param name="imu_frequency" value="200"/>
        <param name="imu_use_raw" value="false"/> 
        <param name="enable_stereo_rectified" value="false"/>
        <param name="enable_disparity" value="true"/>
        <param name="enable_depth" value="false"/>
        <param name="enable_pointcloud" value="true"/>
        <param name="depth_decimation_factor" value="2"/>
        <param name="hardware_sync" value="true"/> 
        <param name="debug_opencv_image" value="$(arg debug_opencv_image)"/> 
    </node>
</launch>
